header {
    background-color: #D16761;
    background-position: center;
    background-size: cover;
    text-align: center;
}
hgroup {
    padding: 0;
    margin-top: 5em;
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 150%;
    font-weight: 600;
}
hgroup p {
    font-family: "Oswald", sans-serif;
}

/* Navigation bar */
/* grid nav
nav {
    display: grid;
    grid-template-columns: 5em auto 4em;
    grid-template-rows: 2em auto;
    grid-template-areas: 
        "logo . menu-toggle"
        "navbar navbar navbar";
    padding: 0.5em;
}
*/
nav {
    font-family: "Oswald", sans-serif;
    margin: 0;
    width: 100%;
    top: 0;
    position: fixed;
    transition: height 0.4s ease-in;
}
nav ul {
    position: relative;
    z-index: -1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    transition: transform 0.4s ease-out;
}
nav a {
    text-decoration: none;
    display: block;
    border: 1px solid #743C39;
    background-color: #f18c88;
    color: #231A1A;
    padding: 0.5em;
}
nav a:hover {
    color: #FCE4E4;
    background-color: #743C39;
}
a.logo {
    text-indent: -1000px;
    background-image: url("images/red_logo_small.png");
    background-repeat: no-repeat;
}


/* navbar menu */
a.all-menu {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 0;
}
span.bar {
    display: inline-block;
    width: 35px;
    height: 5px;
    background-color: #241E1E;
    margin: 6px 0;
}

/* hide menu */
ul.hidden {
    transform: translateY(-300px) scaleY(0);
}
nav.minimized {
    height: 80px;
}


@media screen and (min-width: 40em) {
    nav {
        padding: 0;
        width: 100%;
    }
    nav ul {
        flex-direction: row;
    }
    nav li {
        font-size: 115%;
    }
    nav a {
        padding: 1em 2em;
    }
    hgroup {
        font-size: 200%;
        font-weight: 600;
    }
    a.all-menu {
        margin: 0;
    }
}